.enter {
    opacity: 0;
    transition: transform 500ms ease-in-out, all .3s ease-in-out;
    transform: translateX(-100%);
  }
  .enterActive {
    opacity: 1;
    transform: translateX(0);
    transition: transform 500ms ease-in-out, all 500ms ease-in-out;

  }
  .exit {
    opacity: 1;
    transform: translateX(0);
  }
  .exitActive {
    opacity: 0;
    transition: transform 500ms ease-in-out, all 500ms ease-in-out;
    transform: translateX(-100%);
  }